.selected {
    background-color: #2ecc71 !important; /* Cor verde para pontos selecionados */
  }
  
 
 /* Gradiente verde */
 .bg-nubank {
    background: linear-gradient(135deg, #0ad10a, #0536be);
  }

  /* Fundo mais claro para o ícone de perfil */
  .bg-perfil {
    background-color: rgba(255, 255, 255, 0.2);
    background-size: cover;
    background-position: center;
  }

  /* Rolagem horizontal suave */
  .scroll-horizontal {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .scroll-horizontal::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
  }

  /* Estilo para a tela de transação */
  .tela-transacao {
    background: linear-gradient(135deg, #0ad10a, #0536be);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .tela-transacao h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .tela-transacao p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  .tela-transacao input {
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  .tela-transacao .botoes {
    display: flex;
    gap: 1rem;
  }

  .tela-transacao .botoes button {
    background: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .tela-transacao .botoes button svg {
    width: 1.5rem;
    height: 1.5rem;
  }